/*--- general styles for main content ---*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body, #mainMap {
    height: 100%;
}

.list-group{
    width: 400px;
}
#mapMarkers {
    max-width: 250px;
}
